@keyframes flashOrange1 {
  0%, 100% { background:orange; color:#111; }
}

@keyframes flashOrange2 {
  0%, 100% { background:orange; color:#111; }
}

@keyframes highlightOrange1 {
  to {
    background: url(https://mhsmatt.github.io/styles/images/pvat_item_next_btn_orange.png) center no-repeat !important;
  }
}

.page-practiceItems\.4\.0 #controls--back-button {
  animation: flashOrange1 1s linear 10s;
}

.page-practiceItems\.4\.1 #controls--back-button {
  animation: flashOrange2 1s linear 10s;
}

.page-practiceItems\.4\.0 #controls--next-button {
  animation: highlightOrange1 0.001s linear 15s forwards;
  width: 143px;
  height: 43px;
  border: none !important;
  background-color: transparent !important;
  color: transparent;
  background: url(https://mhsmatt.github.io/styles/images/pvat_item_next_btn.png) center no-repeat !important;
}

.page-practiceItems\.4\.0 #controls--next-button:hover {
  background: url(https://mhsmatt.github.io/styles/images/pvat_item_next_btn_hover.png) center no-repeat !important;
}

.page-practiceItems\.4\.0 #controls--next-button:active {
  background: url(https://mhsmatt.github.io/styles/images/pvat_item_next_btn_hover.png) center no-repeat !important;
}
