@keyframes flashOrange1 {
  100% { background:#444; }
  95% { background:orange; color:#111; }
}

@keyframes flashOrange2 {
  100% { background:#444; }
  95% { background:orange; color:#111; }
}

@keyframes highlightOrange {
  to {
    background: orange !important;
    color: #111 !important;
  }
}

.page-practiceItems\.4\.0 #controls--back-button {
  animation: flashOrange1 1s linear 10s;
}

.page-practiceItems\.4\.1 #controls--back-button {
  animation: flashOrange2 1s linear 10s;
}

.page-practiceItems\.4\.0 #controls--next-button {
  animation: highlightOrange 0s forwards 15s;
}
