#controls--next-button, #controls--start-button {
  background-image: url("https://cdn.mhs.com/mhscdndev/Gifted/Common/gifted__itemarrow_right_1x.png");
  background-size:contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 77px;
  border: none;
  color: transparent !important;
  background-color:transparent !important;
  float: right;
}

.content--item-form-group {
    display: flex;
    
}

.page-student-info\.2\.0 #content .col {
    border: 1px solid #bebebe !important;
    padding: 50px;
    padding-left: 50px !important;
}

.form-label {
    flex-shrink: 0;
    width: 125px;
    text-wrap: nowrap;
    margin-bottom: 0;
    align-content: center;
}

.content--text-input.form-control {
    max-width: 150px;
    width: 150px;
}

.content--toggle-item-group {
  background-color: none;
}

#root {
  padding: 50px;
}

#page {
  border: 1px solid #bebebe !important;
}

.content--toggle-item-group .content--toggle-item-option {
  background-color: white;
}

.content--toggle-item-inner {
  display: none;
}

#controls--next-button:disabled {
  display: none;
}

body {
  background-color: #ececec;
}

#header--progress-panel {
    font-size: 16pt;
    color: #999;
}

.content--response-media {
    align-self: auto;
}

#header { 
    background: transparent;
}

.content--item-group-wrapper {
    max-width: 1200px;
}

#controls--next-button:hover, #controls--start-button:hover {
  background-image: url("https://cdn.mhs.com/mhscdndev/Gifted/Common/gifted__itemarrow_right_selected_1x.png");
}

#controls--back-button:hover {
  background-image: url("https://cdn.mhs.com/mhscdndev/Gifted/Common/gifted__itemarrow_left_selected_1x.png");
}

#controls--back-button {
  background-image: url("https://cdn.mhs.com/mhscdndev/Gifted/Common/gifted__itemarrow_left_1x.png");
  background-size:contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 77px;
  border: none;
  color: transparent !important;
  background-color:transparent !important;
}

.btn-center-stack {
  justify-content: space-between !important;
  padding-left: 70px;
  padding-right: 70px;
}

.btn-center-stack #controls--next-button:only-child,.btn-center-stack #controls--start-button:only-child {
    margin-left: auto;
}

.button-chevron {
  display: none;
}
