:root {
  --border-color: #bebebe;
  --background-color: #ececec;
  --header-text-color: #999;
  --button-width: 100px;
  --button-height: 77px;
}

#controls--next-button, #controls--start-button, #controls--redirect-button{
  background-image: url("https://cdn.mhs.com/mhscdndev/Gifted/Common/gifted__itemarrow_right_1x.png");
  background-size:contain;
  background-repeat: no-repeat;
  width: var(--button-width);
  height: var(--button-height);
  border: none;
  color: transparent !important;
  background-color:transparent !important;
  float: right;
}

.content--toggle-wrapper {
  width: auto;
}

.page-student-info\.2\.0 #content .col:first-of-type {
    border: 1px solid var(--border-color) !important;
    padding: 50px 50px !important;
}

.content--text-input.form-control {
    background-color: unset;
    font-weight: bold;
}

.content--toggle-item-group {
  background-color: unset !important; 
}

#root {
  padding: 50px;
}

#page {
  border: 1px solid var(--border-color) !important;
}

.content--toggle-item-group .content--toggle-item-option {
  background-color: white;
  padding: 8px 8px !important;
}

.content--toggle-item-inner {
  display: none;
}

#controls--next-button:disabled {
  display: none;
}

body {
  background-color: var(--background-color);
}

#header--progress-panel {
    font-size: 16pt;
    color: var(--header-text-color);
}

.content--response-media {
    align-self: auto;
}

#header { 
    background: transparent;
}

.content--item-group-wrapper {
    max-width: 1200px;
}

#controls--next-button:hover, #controls--start-button:hover, #controls--redirect-button:hover {
  background-image: url("https://cdn.mhs.com/mhscdndev/Gifted/Common/gifted__itemarrow_right_selected_1x.png");
}

#controls--back-button:hover {
  background-image: url("https://cdn.mhs.com/mhscdndev/Gifted/Common/gifted__itemarrow_left_selected_1x.png");
}

#controls--back-button {
  background-image: url("https://cdn.mhs.com/mhscdndev/Gifted/Common/gifted__itemarrow_left_1x.png");
  background-size:contain;
  background-repeat: no-repeat;
  width: var(--button-width);
  height: var(--button-height);
  border: none;
  color: transparent !important;
  background-color:transparent !important;
}

.btn-center-stack {
  justify-content: space-between !important;
  padding-left: 70px;
  padding-right: 70px;
}

.btn-center-stack #controls--next-button:only-child,.btn-center-stack #controls--start-button:only-child {
    margin-left: auto;
}

.btn-center-stack #controls--redirect-button:only-child {
  margin-left: auto;
  opacity: 0;
  pointer-events: none;
  animation: enableBtn 0s 5s forwards; /* No gradual display, just enable after set time */
  transition: background 0.2s, opacity 0.2s, cursor 0.2s;
}

.button-chevron {
  display: none;
}

@keyframes enableBtn {
  to {
      opacity: 1;
      pointer-events: auto;
      cursor: pointer;
  }
}

@media only screen and (max-width: 1025px) {
  .content--item-media {
    max-height: 275px !important;
  }

  [class*="nonverbal"] .content--response-media {
    max-height: 47.86859px !important;
  }
}

.content--item-media {
  max-height: 400px;
}

[class*="nonverbal"] .content--response-media {
  max-height: 69.62704px;
}
