.video-player {
    background: transparent;
}

.video-controls-container {
    display: none;
}

.bi-play-circle-fill {
    background: url(https://mhsmatt.github.io/styles/images/pvat_soundcheck_btn.png) no-repeat center;
    background-size: cover;
}

.bi-play-circle-fill:hover {
    background: url(https://mhsmatt.github.io/styles/images/pvat_soundcheck_btn_hover.png) no-repeat center;
    background-size: cover;
}

.bi-play-circle-fill:active {
    background: url(https://mhsmatt.github.io/styles/images/pvat_soundcheck_btn_selected.png) no-repeat center;
    background-size: cover;
}

.bi-play-circle-fill path {
    display: none;
}